.Home {
  text-align: center;
}
.layout-bottom {
  position: fixed;
  bottom: 0;
}
.ibottom {
  display: flex;
  width: 100vw;
  height: 48px;
}
.bsize {
  display: inline-block;
  background-size: 100%;
  background-repeat: no-repeat;
}
.b1 {
  width: 8.7vw;
  background-image: url("../asset/img/1.jpg");
}

.b2 {
  width: 30.4vw;
  /* height: 110px; */
  background-image: url("../asset/img/2.jpg");
}

.b3 {
  width: 30.4vw;
  /* height: 110px; */
  background-image: url("../asset/img/3.jpg");
}

.b4 {
  width: 30.4vw;
  /* height: 110px; */
  background-image: url("../asset/img/4.jpg");
}
.zhanwei {
  width: 100vw;
  height: 230px;
  background-image: url("../asset/img/zhanwei.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.layout-pop {
  width: 35vw;
  height: 205px;
  border: 1px solid #f0f0f0;
  box-shadow: 1px 1px 2px 1px #ccc;
  position: fixed;
  bottom: 49px;
  left: 16px;
  text-align: left;
  font-size: 18px;
  text-indent: 1em;
  background: #fff;
}
.layout-pop div {
  width: 35vw;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #f0f0f0;
}
